.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  max-height: 75px;
}

#TopBar {
  /* display: inline; */
  padding: 0px 0px 100px 0px;
  margin-bottom: 15px;
  border: 2px solid red;
}

.nav {
  float: left;
  display: flex;
  flex-direction: row;
}

.navLeft {
  border-style: solid;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}

.right {
  float: right;
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 10px 10px 25px 10px;
}

.navRightSearch {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
}

.navRightButton {
  height: 50px;
  width: 50%;
  padding: 10px 10px 10px 10px;
}

.main{
  display: inline-grid;
  grid-row: auto;
  grid-row-gap: 50px;
}

.friendList{
  grid-row-start: 1;
  grid-column-start: 3;
  padding: 65px 0px 0px 0px;
  align-self: right;
  border: 2px solid black;
  /* position: fixed;
  top: 10%;
  right: 10px; */
}

.profileBox{
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 65px 15px 0px 0px;
  max-width: 300px;
  border: 2px solid black;
  /* position: fixed;
  top: 10%;
  left: 10px; */
}

.homeFeed{
  grid-row-start: 1;
  grid-column-start: 2;
  padding: 65px 0px 0px 0px;
  /* position: relative;
  left: 50%; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
